<div class="container my-5">
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <input type="text"
             class="form-control"
             placeholder="Rechercher un fournisseur..."
             [(ngModel)]="searchTerm"
             (input)="filterSuppliers()" />
    </div>
    <div class="col-md-3 text-end">
      <button class="btn btn-outline-secondary" (click)="goFavsPage()">Voir favoris ⭐</button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let supplier of filteredSuppliers">
      <div class="card h-100 bg-dark text-white shadow-sm p-3 d-flex flex-column justify-content-between">
        <div>
          <h5><strong>NOM :</strong> {{ supplier.name }}</h5>
          <p>Email : {{ supplier.email }}</p>
          <p>Téléphone : {{ supplier.phoneNumber }}</p>
        </div>

        <div class="d-flex justify-content-between align-items-end">
          <i class="bi bi-star-fill text-warning" *ngIf="isFavorite(supplier)" (click)="toggleFavorite(supplier)" style="cursor: pointer;"></i>
          <i class="bi bi-star text-white" *ngIf="!isFavorite(supplier)" (click)="toggleFavorite(supplier)" style="cursor: pointer;"></i>

          <button class="btn btn-outline-light btn-sm" (click)="voirProduits(supplier.id)">Voir produits</button>
        </div>
      </div>
    </div>
  </div>
</div>
