<div class="container my-5">
  <div class="d-flex justify-content-end mb-3">
    <button routerLink="/supplier" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left"></i> Retour
    </button>
  </div>

  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <input type="text"
             class="form-control"
             placeholder="Rechercher un favori..."
             [(ngModel)]="searchTerm"
             (input)="filterSuppliers()" />
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let supplier of filteredSuppliers">
      <div class="card h-100 bg-dark text-white shadow-sm p-3 d-flex flex-column justify-content-between"
           style="min-height: 200px;">
        <div class="d-flex flex-column justify-content-between h-100">
          <div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-outline-danger btn-sm" (click)="removeFromFavorites(supplier.id)">
                <i class="bi bi-x-circle-fill"></i>
              </button>
            </div>
            <div class="fw-bold text-uppercase">Nom : {{ supplier.name }}</div>
            <div>Email : {{ supplier.email }}</div>
            <div>Téléphone : {{ supplier.phoneNumber }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
